/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Lato', sans-serif;
}
/* Typography */
a {
    color: #0a0a0a92;
}
.light-c {
    color: #c4c4c4;
}

.mb-1 {
    margin-bottom: 1.2rem;
}

/* Container */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}
.top-back {
    width: 100%;
    height: 15%;
    background-color: #00bea4;
    z-index: 5;
    position: relative;
}
.bottom-back {
    width: 100%;
    height: 85%;
    background-color: #d5d9d4;
    z-index: 5;
    position: relative
}

/* Container user */
#app {
    position: absolute;
    max-width: 1300px;
    width: 100%;
    height: 95vh;
    background-color:whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 100;
    display: flex;
}

#app > .user-left {
    width: 30%;
    height: 100%;
    
}
/* Menu left Top */
.user-left > .menu-left {
    width: 100%;
    height: 60px;
    background-color: #ebeceb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem .5rem;
}
.menu-left > .avatar-menu {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.avatar-menu > img {
    width: 50%;
    border-radius: 50%;
}
.menu-left > .avatar-choice {
    width: 30%;
    text-align: end;
}
.avatar-choice i {
    font-size: 1.5rem;
    color: #c4c4c4;
    margin-right: 0.5em;
}
/* Notification bells */
.notification-bell {
    width: 100%;
    height: 80px;
    background-color: #a1e0fd;;
    padding: 0.3rem .8rem;
    display: flex;
    align-items: center;
}
.notification-bell > i {
    margin-right: 0.5em;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: #a1e0fd;
    line-height: 50px;
    border-radius: 50%;
}
.text-notification > h4 {
    font-weight: 500;
}

/* Form search */
.form-search {
    width: 100%;
    height: 40px;
    padding: .2rem;
    display: flex;
    justify-content: space-around;
}
.form-search > .search-icon {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #efefef;
    border-right: none;
}
.search-icon > i {
    color: #c4c4c4;
}
.form-search > label {
    display: none;
}
.form-search > input {
    width: 85%;
    border: 1px solid #efefef;
    padding: .5rem;
}

/* User message */
.user-message {
    width: 100%;
    overflow-y: scroll;
}
.single-avatar {
    width: 100%;
    height: 80px;
    display: flex;
    padding: .3rem .8rem;
    border-bottom: 1px solid #cccccc;
}
.single-avatar > img {
    width: 20%;
    border-radius: 50%;
}
.single-avatar > .text-avatar {
    margin-left: .8em;
}
.single-avatar > .time-message {
    margin-left: auto;
}

/* USER RIGHT */

#app > .user-right {
    width: 70%;
    height: 100%;
}
.user-right > .right-menu {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ebeceb;
    padding: .2rem .5rem;
}
.right-menu > .avatar-right {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.avatar-right > img {
    height: 100%;
    border-radius: 50%;
}  
.right-menu > .choicemenu-right {
    margin-left: auto;
    
    
} 
.choicemenu-right i {
    font-size: 1.5rem;
    color: #c4c4c4;
    margin-right: 0.5em;
}
.user-right > .message-print {
    width: 100%;
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.box-message > .p-message {
    background-color: #00bea4;
    width: 100%;
}
.rx-message {
    width: 40%;
    margin-left: auto;
    background-color: yellowgreen;
    padding: 1rem;
    border-radius: 12px;
    position: relative;       
}
.sx-message {
    padding:1rem;
    width: 40%;
    background-color: white;
    border-radius: 12px;
    position: relative;   
}

.time-mx {
    position: absolute;
    bottom: 3px;
    right:5px;
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.545);
} 
.user-right > .form-send {
    width: 100%;
    height: 60px;
    background-color: #ebeceb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}
.form-send > label {
    display: none;
}
.form-send > input {
    width: 80%;
    padding: .7rem;
    border: none;
    border-radius: 8px;
}
.form-send > i {
    color: #4d4d4d;
    font-size: 1.5rem;
}
