<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900& display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- Luxon CDN -->
     <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="container">
        <!-- Sfondo Back -->
        <div class="top-back"></div>
        <div class="bottom-back"></div>
        <!-- Container-user -->
        <div id="app">
            <div class="user-left">
                <!-- Menu top visualizzazione -->
                <div class="menu-left">
                    <div class="avatar-menu">
                        <img src="img/avatar_io.jpg" alt="avatar-menu">
                        <h4>Sofia</h4>
                    </div>
                    <div class="avatar-choice">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- Notification -->
                <div class="notification-bell">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="text-notification">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- Form Text search user -->
                <div class="form-search">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <label for="search-user">search</label>
                    <input type="text"
                     id="search-user" 
                     placeholder="Cerca o inizia una nuova chat"
                     v-model.trim="searchList"
                     >
                </div>

                <!-- Users message -->
                <div class="user-message">
                    <div class="single-avatar" 
                    v-for="(inner, index) in contacts" 
                    @click="newChat(index)"
                    v-show="searchList === '' || inner.name.includes(searchList)"
                    :class="{'active': index === activeContacts}"
                    >
                        <img :src="'img/avatar'+ inner.avatar + '.jpg'" alt="">
                        <div class="text-avatar">
                            <h3>{{inner.name}}</h3>
                            <p class="light-c">Ultimo messaggio inviato</p>
                        </div>
                        <div class="time-message">
                            <p class="light-c">12:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- __________ -->

            <!-- User Right -->
            <div class="user-right">
                <!-- Right menu -->
                <div class="right-menu">
                    <div class="avatar-right">
                        <img :src="`img/avatar${contacts[activeContacts].avatar}.jpg`" alt="">
                        <div class="textmenu-right">
                            <h4>{{contacts[activeContacts].name}}</h4>
                            <p class="light-c">Ultimo accesso oggi alle 12.00</p>
                        </div>
                    </div>
                    <div class="choicemenu-right">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- Print message -->
                <div class="message-print">
                    
                        <!-- Row -->
                        <div class="p-message mb-1" v-for="inner in contacts[activeContacts].messages" >
                            <div :class="inner.status === 'sent'? 'rx-message': 'sx-message'">
                                <p>{{inner.message}}</p>
                                <p class="time-mx">{{inner.date}}</p>
                            </div>
                        </div>
                </div>

                <!-- Form send -->
                <div class="form-send">
                    <i class="fa-regular fa-face-smile"></i>
                    
                    <label for="send-message">invia</label>
                    <input 
                    type="text" name="" 
                    id="send-message" 
                    placeholder="Scrivi un messaggio"
                    v-model.trim="inMessage"
                    @keyup.enter="addMessage"
                    >

                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </main>



    <!-- Js -->
    <script src="js/script.js"></script>
</body>
</html>